<h1>Welcome to the Task Manager  </h1>
<h3>We are here for you</h3>

<ul class="list-unstyled">
  <li><a href="/tasks" class="btn btn-default btn-lg" role="group">Task Index</a></li>
  <li><a href="/tasks/new" class="btn btn-default btn-lg" role="group">New Task  </a></li>
</ul>
