<div class="container">

<span class="text-danger"><h2><strong>All Tasks</strong></h2></span>

<% @tasks.each do |task| %>
<span class="bg-info"><h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3></span>
<% end %>
</div>
