<div class="container-fluid">
  <div class="dropdown">
    <button class="btn btn-danger dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown">
      <h2><a href="/tasks"> Task Index</a></h2>

      <h1><%= @task.title %></h1>
      <p><%= @task.description %></p>
    </div>
  </div>
